.datagrid_centrali{
    width: 90%;
}

#tabella_prodotti{
    height: 100%;
    width: 100%;
}

#main-corpo{
    overflow-y: scroll;
}

#navigazione a:hover{
    color: white !important;
    text-decoration: none;
}

@media only screen and (max-width: 700px) {
    .datagrid_centrali{
        height: 70vh !important;
    }

    #main-corpo{
        justify-content: flex-start !important;
    }
}